:root{
  --light-blue : #1a73e8;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
 /* NavBar */
   .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
   
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #DADCE0;
    
   }
   .navbar__heading{
    cursor: pointer;
   }
   .navbar__lists{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
   }
   .navbar__lists li{
       
       margin-left: 70px;
       padding:10px;
       font-size: 20px;
       font-weight: 500;
       cursor: pointer;
      
      
   }

   .navbar__lists li img{
    padding:10px;
   background : #ECECED;
    border-radius:50%;
   }
   .navbar__lists li a{
  text-decoration: none;
  color:inherit;
}
.navbar__lists li:target{
 
}

.dragable{
  cursor: col-resize;
  width:10px;
  flex-basis: 18px;
  background-color: rgb(230, 224, 224);
  position: relative;
  border: 1px  solid gray ;
}

 

/* Body */
  .Body{
      display: flex;
      flex-direction: row;
      position: relative;
  }

  .code-area {
    height: 600px;
  
    display: flex;
    flex-direction:column;
    width: 650px;
    border-right:1px solid #DADCE0;
  }
  .html-area {
    height: 33.33%;
    position: relative;
   
  }
  .css-area {
    height: 33.33%;
    position: relative;
     
}
.js-area {
    height: 33.33%;
    position: relative;
    
  
 }

  .html-area textarea, .css-area textarea, .js-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 10px;
    
    
    
    
}
  .preview-area {
    /* width: 50%; */
    border: 1px solid #DADCE0;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
   
  }
  .preview-area iframe {
    
    border: none; 
  }

  .html-area svg , .css-area svg , .js-area svg{
      position: absolute;
      left: 90%;
      top:160px;
      cursor: pointer;
     
  }


 ::-webkit-scrollbar {
    width: 10px;
    
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
   
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
   
  }

   /* DarkMode */

   .dark_navbar{
    background-color: #161B22;
   }
   .dark_heading{
     color: #FFFFFF;
     
    }
    .dark_heading:hover{
      color : #AFB5BB;
    }
   .dark_navbar_lists{
    color: #FFFFFF;
   }
   .dark_navbar_lists li:hover{
    color : #AFB5BB;
  }

   .dark_html-area{
     background-color: #0D1117;
     color: #FFFFFF;
     
   }
   .dark_css-area{
    background-color: #0D1117;
    color: #FFFFFF;
  }.dark_js-area{
    background-color: #0D1117;
    color: #FFFFFF;
  }
  .dark_html-area img{
    color: #FFFFFF;
  }
  .dark_dragable{
    background-color: #20242a;
  }

  .dark_refresh-svg{
    fill: #ffffff;
  }
